:root {
  --dark-blue: #032043;
  --light-blue: #3177ea;
  --white: #ffffff;
  --gray: #e0e0e0;
  --red: #f73939;
}

.user-page {
  background-color: white; 
  height: 100vh; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: flex-start; 
  padding: 20px; 
  box-sizing: border-box; 
}

.options {
  display: flex; 
  gap: 10px; 
  margin-bottom: 20px; 
}

.option {
  background-color: var(--white); 
  color: var(--dark-blue); 
  padding: 15px; 
  border-radius: 8px; 
  border: 1px solid gray; 
  cursor: pointer; 
  transition: transform 0.2s ease, background-color 0.3s ease; 
  text-align: center; 
  flex-grow: 1; 
  min-width: 120px; 
}

.option:hover {
  background-color: var(--dark-blue); 
  color: var(--white); 
  transform: scale(1.04); 
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
}

.rectangle-container {
  display: flex; 
  justify-content: flex-start; 
  align-items: flex-start; 
  margin-top: 20px; 
  width: calc(100% - 40px); 
  flex-grow: 1; 
}

.rectangle {
  flex: 1; 
  height: calc(70vh - 50px); 
  background-color: white; 
  border-radius: 20px; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
  margin-left: 20px; 
}

.sidebar {
  width: 250px; 
  height: calc(70vh - 50px); 
  background-color: var(--dark-blue); 
  border-radius: 20px 0 0 20px; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.footer {
  position: absolute; 
  bottom: 20px; 
  left: 20px; 
  font-size: 14px; 
  color: gray; 
}